
@{
    ViewBag.Title = "Blog_Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebMvcTravel.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Comment>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tour Packer</title>
</head>
<body class="">
    <!-- BEGIN # MODAL LOGIN -->
    <!-- END # MODAL LOGIN -->
    <!-- start Container Wrapper -->
    <div class="container-wrapper">
        <div class="clear"></div>

        <!-- start Main Wrapper -->
        <div class="main-wrapper scrollspy-container">

            <!-- start end Page title -->
            <div class="page-title" style="background-image:url('/Content/images/hero-header/breadcrumb.jpg');">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

                            <h1 class="hero-title">博客</h1>

                            <ol class="breadcrumb-list">
                                <li><a href="index.html">主页</a></li>
                                <li><span>博客</span></li>
                            </ol>

                        </div>

                    </div>

                </div>

            </div>
            <!-- end Page title -->

            <div class="content-wrapper">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-8 col-md-9">

                            <div class="blog-wrapper">

                                <div class="blog-item blog-single" id="showBlogs">
                                    @*显示博客详情*@
                                </div>
                                @*显示评论*@
                                <h4 class="uppercase">9评论</h4>

                                <div id="showcomment">
                                    <div class="clear"></div>

                                    <div class="text-center">

                                        @*@Html.PagedListPager(Model, pageIndex => Url.Action("Blog_Single", new { pageIndex }),
                                        new PagedListRenderOptions
                                        {
                                            LinkToFirstPageFormat = "首页",
                                            LinkToNextPageFormat = "下一页",
                                            LinkToPreviousPageFormat = "上一页",
                                            LinkToLastPageFormat = "尾页",
                                            MaximumPageNumbersToDisplay = 2,
                                            DisplayItemSliceAndTotal = false
                                        }
                                        )*@
                                    </div>

                                </div><!-- End Comment -->
                                @*添加评论*@
                                <h3 class="uppercase">留下评论</h3>

                                <form method="post" id="contactForm" action="post" class="comment-form">
                                    <div class="row">
                                        <div class="col-md-12 mb-30">
                                            <div class="form-group">
                                                <label for="comment-message">留言<span class="text-danger">*</span></label>
                                                <textarea id="CommentName" class="form-control" rows="8"></textarea>
                                                <input id="Blogs_Id" type="hidden" value="Blogs_Id" />
                                                <input id="Users_Id" type="hidden" value="Users_Id" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="save" type="submit" class="btn btn-primary">评论</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 mt-50-xs">

                            <aside class="sidebar">

                                <div class="sidebar-inner no-border for-blog">

                                    <div class="sidebar-module" id="new()">
                                        <h4 class="sidebar-title">最新的帖子</h4>
                                        <div class="sidebar-module-inner">

                                            <ul class="sidebar-post">
                                                <li class="clearfix">
                                                    <a href="blog-single.html">
                                                        <div class="image">
                                                            <img src="" alt="Popular Post" />
                                                        </div>
                                                        <div class="content">
                                                            <h6>Enough around remove to barton agreed regret</h6>
                                                            <p class="recent-post-sm-meta"><i class="fa fa-clock-o mr-5"></i>June 01, 2016</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="clear"></div>

                                    <div class="sidebar-module">
                                        <h4 class="sidebar-title">热门帖子</h4>
                                        <div class="sidebar-module-inner">

                                            <ul class="sidebar-post">
                                                <li class="clearfix">
                                                    <a href="blog-single.html">
                                                        <div class="image">
                                                            <img src="~/Content/images/blog/01-sm.jpg" alt="Popular Post" />
                                                        </div>
                                                        <div class="content">
                                                            <h6>Appetite welcomed interest the goodness boy</h6>
                                                            <p class="recent-post-sm-meta"><i class="fa fa-comments mr-5"></i>5 comments</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="Hidden1" type="hidden" value="@ViewBag.id" />
        <input id="ReplayId" type="hidden" value="@ViewBag.Id" />
        <!-- end Main Wrapper -->
    </div>  <!-- end Container Wrapper -->
    <!-- start Back To Top -->
    <div id="back-to-top">
        <a href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end Back To Top -->
    <!-- JS -->
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    //文件就绪函数
    $(function () {        
        ShowBlogs();//显示博客详细信息
        ShowComment();//显示评论
        ShowReplay();//显示回复
    })
    //添加评论
    $("#save").click(function () {
        var name = $("#CommentName").text();
        var bId = $("#Blogs_Id").val();
        var uId = $("#Users_Id").val();
        $.ajax({
            url: "/Travel/AddComment",
            type: "post",
            data: { CommentName: name, Blogs_Id: bId, Users_Id: uId },
            success: function (d) {
                if (d > 0) {
                    alert("添加成功");
                    location.reload();
                }
            }
        })
    })
    //显示博客
    function ShowBlogs() {
        var id = $("#Hidden1").val();
        $.ajax({
            url: "http://localhost:63856/api/Blogs?id=" + id,
            type: "get",
            success: function (data) {
                console.log(data);
               $("#showBlogs").empty();
                $(data).each(function () {
                    var op = '<div class="blog-media">' 
                    +'<img src="' + this.Url + '" />'
                    +'</div>'
                    + '<div class="blog-content">'
                    + '<h3>' + this.Title + '</h3>'
                    + '<ul class="blog-meta clearfix">'
                    + '<li>通过<a href="#">' + (this.Users_Id == 1 ? "管理员" : "用户") + '</a></li>'
                    + '<li>' + this.StartTime + '</li>'
                    +'</ul>'
                    +'<div class="blog-entry">'

                    + '<p>' + this.Remark + '</p>'

                    +'<div class="blockquote">蹙额UC的工艺过程与蛋糕预订海慧寺我不会出不俗火车也不想还火车也不想还还差个午安生死阿卡先把输出常规赛亚你不吃</div>'

                    +'<p>'
                    +'一个人会好好的,生活的无忧无虑,没有烦恼,这个地方非常好,夜景非常漂亮,巴黎铁塔上也有中国的颜色,是多么的美好,'
                    +'一切都是那么美好,改一下供应商采购有多少,US刚才有点事,公司员工参与是过程与当时,该干啥呀古城与市场,'
                    +'白醋花菜园成功与工程等因素,还差几个因素各有所短,核对阿大使馆电影萨,胡歌鲨鱼嘎达,该有的萨广东院士顾亚施工队原始股对于萨更多撒遇到过,'
                    +'关于撒关于对gas遇到过压塑过渡鸭锁骨大于,高低压管道与砂锅鱼大使馆的'
                    +'</p>'
                    +'</div>'
                    + '</div>'
                $("#showBlogs").append(op);
                })
            }
        })
    }
    //显示评论
    function ShowComment() {
        var id = $("#Hidden1").val();
        $.ajax({
            url: "http://localhost:63856/api/Comment?id=" + id,
            type: "get",
            success: function (data) {
                console.log(this.Users_Name);
                $("#showcomment").empty();
                $(data).each(function () {
                    var op='<ul class="comment-item">'
                           +'<li>'    
                           +'<div class="comment-header">'
                           + '<a href="#" class="comment-reply" onclick="replay()">回复</a>'
                           + '<h6 class="heading mt-0">"' + this.Users_Name + '"</h6>'
                           +'</div>'
                           + '<div class="comment-content">'
                           + '<p>' + this.CommentName + '</p>'
                           + '<div id="replay"></div >'
                           +'</div>'
                           +'</li>'
                           +'</ul>'
                           + '<div class="clear"></div>'                         
                           +'<div class="text-center">'
                           +'<a href="#" class="btn btn-primary">加载更多</a>'
                           +'</div>'
                    $("#showcomment").append(op);
                })
            }
        })
    }
    //显示回复
    function ShowReplay() {
        var id = $("#ReplayId").val();
        $.ajax({
            url: "http://localhost:63856/api/Reply?id=" + id,
            type: "get",
            success: function (data) {
                console.log(data);
                $("#replay").empty();
                $(data).each(function () {
                    var op ='<p>' + this.ReplayRemark + '</p>'
                    $("#replay").append(op);
                })
            }
        })
    }
</script>



