
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tour Packer</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body class="">
    <!-- BEGIN # MODAL LOGIN -->
    <div class="container-wrapper">
        <div class="clear"></div>

        <!-- start Main Wrapper -->
        <div class="main-wrapper scrollspy-container">

            <!-- start end Page title -->
            <div class="page-title" style="background-image:url('/Content/images/hero-header/breadcrumb.jpg');">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

                            <h1 class="hero-title">经常问的问题</h1>

                            <ol class="breadcrumb-list">
                                <li><a href="/Travel/Index">主页</a></li>
                                <li><span>常问问题</span></li>
                            </ol>

                        </div>

                    </div>
                </div>

            </div>
            <!-- end Page title -->

            <div class="content-wrapper">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-4 col-md-3">

                            <div class="scrollspy-sidebar for-faq-page">

                                <div class="scrollspy-sidenav">

                                    <ul class="nav faq-nav">
                                        <li><a href="#faq-section-0" class="anchor">常见问题</a></li>
                                        <li><a href="#faq-section-1" class="anchor">一般问题</a></li>
                                        <li><a href="#faq-section-2" class="anchor">安全问题</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9">

                            <div class="faq-wrapper">

                                <div id="faq-section-0" class="faq-section">

                                    <h3 class="uppercase">常见问题</h3>

                                    <div class="panel-group bootstarp-accordion" id="faq-accordion" role="tablist" aria-multiselectable="true">

                                    </div>
                                    <!-- end of #accordion -->
                                </div>

                                <div id="faq-section-1" class="faq-section">

                                    <h3 class="uppercase">一般问题</h3>

                                    <div class="panel-group bootstarp-accordion" id="faq-accordion-two" role="tablist" aria-multiselectable="true">


                                    </div>
                                    <!-- end of #accordion -->

                                </div>

                                <div id="faq-section-2" class="faq-section">

                                    <h3 class="uppercase">安全问题</h3>

                                    <div class="panel-group bootstarp-accordion" id="faq-accordion-thee" role="tablist" aria-multiselectable="true">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="call-to-action mt-50">
                            找不到你想要的问题？ <a href="#" class="btn btn-primary btn-sm btn-inverse">联系我们</a> 获取您的特权问题
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="back-to-top">
        <a href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end Back To Top -->
    <!-- JS -->
    <script>
        $(function () {
            $.ajax({
                url: "/Travel/GetQue",//请求获取
                type: "get",
                dataType: "json",
                success: function (data) {
                    var d = eval('' + data + '');//转换格式
                    //成功后首先清空页面的问题
                    $("#faq-accordion").empty();//清空常见问题
                    $("#faq-accordion-two").empty();//清空一般问题
                    $("#faq-accordion-thee").empty();//清空安全问题
                    $(d).each(function () {
                        //判断类型为安全问题
                        if (this.IsQuestionState == "safe") {
                            var divMess = '<div class="panel">'
                                + '<div class="panel-heading" role="tab">'
                                + '<h4 class="panel-title">'
                                + '<a role="button" data-toggle="collapse" data-parent="#faq-accordion-thee" href="#faq-accordion-thee-' + this.QuestionId + '" aria-expanded="true" aria-controls="faq-accordion-thee-' + this.QuestionId + '"> ' + this.QuestionName + '</a>'
                                + '</h4>'
                                + '</div>'
                                + '<div id="faq-accordion-thee-' + this.QuestionId + '" class="panel-collapse collapse in" role="tabpanel">'
                                + '<div class="panel-body">'
                                + '<div class="faq-thread">'
                                + '<p>' + this.AnswerName + '</p>'
                                + '</div>'
                                + '</div>'
                                + '</div>'
                                + '</div>';
                            $("#faq-accordion-thee").append(divMess);
                        }
                        //判断类型为常问问题
                        else if (this.IsQuestionState == "usua") {
                            var divMess1 = '<div class="panel">'
                                + '<div class="panel-heading" role="tab">'
                                + '<h4 class="panel-title">'
                                + '<a role="button" data-toggle="collapse" data-parent="#faq-accordion-two" href="#faq-accordion-two-' + this.QuestionId + '" aria-expanded="true" aria-controls="faq-accordion-two-' + this.QuestionId + '">' + this.QuestionName + '</a>'
                                + '</h4>'
                                + '</div>'
                                + '<div id="faq-accordion-two-' + this.QuestionId + '" class="panel-collapse collapse in" role="tabpanel">'
                                + '<div class="panel-body">'
                                + '<div class="faq-thread">'
                                + '<p>' + this.AnswerName + '</p>'
                                + '</div>'
                                + '</div>'
                                + '</div>'
                                + '</div>';
                            $("#faq-accordion").append(divMess1);
                        }
                        //判断类型为一班问题
                        else if (this.IsQuestionState == "general") {
                            var divMess2 = '<div class="panel">'
                                + '<div class="panel-heading" role="tab">'
                                + '<h4 class="panel-title">'
                                + '<a role="button" data-toggle="collapse" data-parent="#faq-accordion-two" href="#faq-accordion-two-' + this.QuestionId + '" aria-expanded="true" aria-controls="faq-accordion-two-' + this.QuestionId + '"> ' + this.QuestionName + '</a>'
                                + '</h4>'
                                + '</div>'
                                + '<div id="faq-accordion-two-' + this.QuestionId + '" class="panel-collapse collapse in" role="tabpanel">'
                                + '<div class="panel-body">'
                                + '<div class="faq-thread">'
                                + '<p>' + this.AnswerName + '</p>'
                                + '</div>'
                                + '</div>'
                                + '</div>'
                                + '</div>';
                            $("#faq-accordion-two").append(divMess2);
                        }
                    })
                }
            })
        })

    </script>
    <script>
        !function ($) {

            $(function () {

                var $window = $(window)
                var $body = $(document.body)

                var navHeight = $('.navbar').outerHeight(true) + 50

                $body.scrollspy({
                    target: '.scrollspy-sidebar',
                    offset: navHeight
                })

                $window.on('load', function () {
                    $body.scrollspy('refresh')
                })

                $('.scrollspy-container [href=#]').click(function (e) {
                    e.preventDefault()
                })

                // back to top
                setTimeout(function () {
                    var $sideBar = $('.scrollspy-sidebar')

                    $sideBar.affix({
                        offset: {
                            top: function () {
                                var offsetTop = $sideBar.offset().top
                                var sideBarMargin = parseInt($sideBar.children(0).css('margin-top'), 10)
                                var navOuterHeight = $('.scrollspy-nav').height()

                                return (this.top = offsetTop - navOuterHeight - sideBarMargin)
                            }
                            , bottom: function () {
                                return (this.bottom = $('.scrollspy-footer').outerHeight(true))
                            }
                        }
                    })
                }, 100)

            })

        }(window.jQuery)

    </script>
</body>
</html>

