<!doctype html>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tour Packer</title>
</head>

<body class="">

    <!-- BEGIN # MODAL LOGIN -->
    <!-- END # MODAL LOGIN -->
    <!-- start Container Wrapper -->
    <div class="container-wrapper">
        <div class="clear"></div>
        <!-- start Main Wrapper -->
        <div class="main-wrapper">
            <div class="breadcrumb-wrapper bg-light-2">
                <div class="container">

                    <ol class="breadcrumb-list booking-step">
                        <li><a href="">搜索</a></li>
                        <li><a href="#">结果</a></li>
                        <li><a href="#">详情</a></li>
                        <li><span>付款</span></li>
                        <li><span>确认</span></li>
                    </ol>

                </div>

            </div>

            <div class="content-wrapper">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-12 visible-xs mb-50">

                            <div class="price-summary-wrapper">

                                <h4 class="heading mt-0 text-primary uppercase">My Trip</h4>

                                <ul class="price-summary-list">

                                    <li>
                                        <h6 class="heading mt-0 mb-0">Croatia Sailing &amp; Cruising</h6>
                                        <p class="font12 text-light">4 days 3 nights city tour</p>
                                    </li>

                                    <li>
                                        <h6 class="heading mt-0 mb-0">Starts in Dubrovnik, Croatia</h6>
                                        <p class="font12 text-light">Monday, March 7, 2016</p>
                                    </li>

                                    <li>
                                        <h6 class="heading mt-0 mb-0">Ends in Hvar, Croatia</h6>
                                        <p class="font12 text-light">Thursday, March 10, 2016</p>
                                    </li>

                                    <li>
                                        <h6 class="heading mt-0 mb-0">What's included</h6>
                                        <p class="font12 text-light">Accommodation, Guide, Meals, Bus</p>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <h6 class="heading mt-20 mb-5 text-primary uppercase">Price per person</h6>
                                        <div class="row gap-10 mt-10">
                                            <div class="col-xs-7 col-sm-7">
                                                Brochure Price
                                            </div>
                                            <div class="col-xs-5 col-sm-5 text-right">
                                                $1458
                                            </div>
                                        </div>
                                        <div class="row gap-10 mt-10">
                                            <div class="col-xs-7 col-sm-7">
                                                Tax &amp; fee
                                            </div>
                                            <div class="col-xs-5 col-sm-5 text-right">
                                                $0
                                            </div>
                                        </div>
                                    </li>

                                    <li class="divider"></li>

                                    <li class="text-right font600 font14">
                                        $1458
                                    </li>

                                    <li class="divider"></li>

                                    <li>

                                        <div class="row gap-10 font600 font14">
                                            <div class="col-xs-9 col-sm-9">
                                                Number of Travellers
                                            </div>
                                            <div class="col-xs-3 col-sm-3 text-right">
                                                1
                                            </div>
                                        </div>

                                    </li>

                                    <li class="total-price">

                                        <div class="row gap-10">
                                            <div class="col-xs-6 col-sm-6">
                                                <h5 class="heading mt-0 mb-0 text-white">Amount due</h5>
                                                <p class="font12">before departure</p>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 text-right">
                                                <span class="block font20 font600 mb-5">$1458</span>
                                                <span class="font10 line10 block">**Best Price Guarantee </span>
                                            </div>
                                        </div>

                                    </li>

                                </ul>

                            </div>

                        </div>

                        <div class="col-sm-8 col-md-9" role="main">

                            <div class="section-title text-left">

                                <h3>克罗地亚帆船和巡航/<small> / 4 天 3 夜</small></h3>

                            </div>

                            <div class="payment-container">

                                <form>

                                    <div class="payment-box">

                                        <div class="payment-header clearfix">

                                            <div class="number">
                                                1
                                            </div>

                                            <div class="row gap-10">

                                                <div class="col-sm-9">
                                                    <h5 class="heading mt-0">您选择的出发日期</h5>
                                                </div>

                                                <div class="col-sm-3">
                                                    <a href="#" class="btn btn-primary btn-inverse btn-sm pull-right pull-left-xs mb-20-xss">更改</a>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="payment-content">

                                            <div class="payment-content">
                                                <p>您的出发日期: March 26, 2016 - March 29, 2016</p>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="payment-box">

                                        <div class="payment-header clearfix">

                                            <div class="number">
                                                2
                                            </div>

                                            <h5 class="heading mt-0">旅行者详情</h5>
                                        </div>
                                        <div class="payment-content">
                                            <div class="payment-traveller">
                                                <div class="row gap-0">
                                                    <div class="col-sm-9 col-sm-offser-3 col-md-10 col-md-offset-2">
                                                        <h6 class="heading">旅行者1</h6>
                                                    </div>
                                                </div>
                                                <div class="form-horizontal">
                                                    <div class="form-group gap-20 select2-input-hide">
                                                    </div>
                                                </div>

                                                <div class="form-horizontal">
                                                    <div class="form-group gap-20">
                                                        <label class="col-sm-3 col-md-2 control-label">姓名:</label>
                                                        <div class="col-sm-5 col-md-4">
                                                            <input type="text" class="form-control" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-horizontal">

                                                </div>                                    <div class="form-horizontal">
                                                    <div class="form-group gap-20 select2-input-hide">
                                                        <label class="col-sm-3 col-md-2 control-label">身份证号:</label>
                                                        <div class="col-sm-8 col-md-6">
                                                            <div class="row gap-15">
                                                                <div class="col-sm-5 col-md-4">
                                                                    <input type="text" class="form-control" value="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                               <div class="form-horizontal">
                                                    <div class="form-group gap-20">
                                                        <label class="col-sm-3 col-md-2 control-label">手机号:</label>
                                                        <div class="col-sm-5 col-md-4">
                                                            <input type="email" class="form-control" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
 <div class="text-center">
                                                <button class="btn btn-primary btn-sm btn-inverse">添加其他旅行者</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="payment-box">

                                        <div class="payment-header clearfix">

                                            <div class="number">
                                                3
                                            </div>

                                            <h5 class="heading mt-0">地址</h5>
                                        </div>
                                        <div class="payment-content">

                                            <div class="form-horizontal">
                                                <div class="form-group gap-20">
                                                    <label class="col-sm-3 col-md-2 control-label">省:</label>
                                                    <div class="col-sm-5 col-md-4">price-summary-wrapper
                                                        <select class="select2-single form-control" data-placeholder="省"></select>
                                                    </div>
                                                </div>
                                            </div>                                          <div class="form-horizontal">
                                                <div class="form-group gap-20">
                                                    <label class="col-sm-3 col-md-2 control-label">市:</label>
                                                    <div class="col-sm-5 col-md-4">
                                                        <select class="select2-single form-control" data-placeholder="市"></select>
                                                    </div>
                                                </div>
                                            </div>                                        <div class="form-horizontal">
                                                <div class="form-group gap-20">
                                                    <label class="col-sm-3 col-md-2 control-label">具体地址:</label>
                                                    <div class="col-sm-5 col-md-4">
                                                        <input type="text" class="form-control" value="">
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                    <div class="payment-box">

                                        <div class="payment-header clearfix">

                                            <div class="number">
                                                4
                                            </div>

                                            <h5 class="heading mt-0">完成付款 <small>/ <i class="fa fa-lock"></i> 安全</small></h5>

                                        </div>

                                        <div class="payment-content">
                                            <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> </div>

                                            <div id="paymentOption" class="payment-option-wrapper">

                                                <div class="row">

                                                    <div class="col-sm-12">

                                                        <div class="radio-block">
                                                            <input id="payments1" name="payments" type="radio" class="radio" value="paymentsCreditCard" />
                                                            <label class="" for="payments1"><span>银行卡</span> <img src="~/Content/images/payment-credit-cards.jpg" alt="Image"></label>
                                                        </div>

                                                    </div>

                                                    <div class="clear"></div>

                                                    <div class="col-sm-12">
                                                        <div class="radio-block">
                                                            <input id="payments2" name="payments" type="radio" class="radio" value="paymentPaypal" />
                                                            <label class="" for="payments2"><span>支付宝</span> <img src="~/Content/images/payment-paypal.jpg" alt="Image"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="paymentsCreditCard" class="payment-option-form">
                                                    <div class="inner">

                                                        <h5 class="mb-15">Your Payment Total: $ 150.60 US</h5>
                                                        <p>The booking amount will be debited from your credit card once the booking is completed. </p>

                                                        <div class="form-horizontal">
                                                            <div class="form-group gap-20">
                                                                <label class="col-sm-3 col-md-3 control-label">Cardholder's name </label>
                                                                <div class="col-sm-6 col-md-6">
                                                                    <input type="text" class="form-control mb-0" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group gap-20">
                                                                <label class="col-sm-3 col-md-3 control-label">Card Type </label>
                                                                <div class="col-sm-3 col-md-2">
                                                                    <select class="select2-no-search form-control" data-placeholder="Card Type">
                                                                        <option value="">Card Type</option>
                                                                        <option value="1">Options 1</option>
                                                                        <option value="2">Options 2</option>
                                                                        <option value="3">Options 3</option>
                                                                        <option value="4">Options 4</option>
                                                                        <option value="5">Options 5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group gap-20">
                                                                <label class="col-sm-3 col-md-3 control-label">Card number </label>
                                                                <div class="col-sm-6 col-md-6">
                                                                    <input type="text" class="form-control mb-0" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group gap-20">
                                                                <label class="col-sm-3 col-md-3 control-label">Expiry date </label>
                                                                <div class="col-sm-3 col-md-3">
                                                                    <select class="select2-no-search form-control" data-placeholder="Month">
                                                                        <option value="">Month</option>
                                                                        <option value="1">Options 1</option>
                                                                        <option value="2">Options 2</option>
                                                                        <option value="3">Options 3</option>
                                                                        <option value="4">Options 4</option>
                                                                        <option value="5">Options 5</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3">
                                                                    <select class="select2-no-search form-control" data-placeholder="Year">
                                                                        <option value="">Year</option>
                                                                        <option value="1">Options 1</option>
                                                                        <option value="2">Options 2</option>
                                                                        <option value="3">Options 3</option>
                                                                        <option value="4">Options 4</option>
                                                                        <option value="5">Options 5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group gap-20">
                                                                <label class="col-sm-3 col-md-3 control-label">CVC<small class="hoover-help of-label" data-toggle="tooltip" data-placement="top" title="Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face snug.">What is it?</small> </label>
                                                                <div class="col-sm-3 col-md-2">
                                                                    <input type="text" class="form-control mb-0" placeholder="">
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>
                                                <div id="paymentPaypal" class="payment-option-form">
                                                    <div class="inner">

                                                        <h5 class="mb-15">Your Payment Total: $ 150.60 US</h5>
                                                        <p>The booking amount will be debited from your account once the booking is completed.</p>
                                                        <p>After clicking 'Book Now' you will be directed to Paypal to complete payment. <strong>You must complete the process or the booking will not occur </strong>. Afterwards you will be redirected to us again. </p>

                                                        <a href="#" class="btn btn-primary">Proceed to paypal</a>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="checkbox-block">
                                        <input id="accept_booking" name="accept_booking" type="checkbox" class="checkbox" value="paymentsCreditCard" />
                                        <label class="" for="accept_booking">提交预订请求即表示您接受我们的 <a href="#">条款和条件</a>以及<a href="#">取消政策</a>和  <a href="#">房屋规则</a> .</label>
                                    </div>

                                    <div class="row mt-20">

                                        <div class="col-sm-8 col-md-6">

                                            <button class="btn btn-primary">现在预订</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Main Wrapper -->
    </div>  <!-- end Container Wrapper -->
    <!-- start Back To Top -->
    <div id="back-to-top">
        <a href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end Back To Top -->
    <!-- JS -->
    <script>

        /**
        *  Sidebar Sticky
        */

        !function ($) {

            $(function () {

                var $window = $(window)
                var $body = $(document.body)

                var navHeight = $('.navbar').outerHeight(true) + 50

                $body.scrollspy({
                    target: '.scrollspy-sidebar',
                    offset: navHeight
                })

                $window.on('load', function () {
                    $body.scrollspy('refresh')
                })

                $('.scrollspy-container [href=#]').click(function (e) {
                    e.preventDefault()
                })

                // back to top
                setTimeout(function () {
                    var $sideBar = $('.scrollspy-sidebar')

                    $sideBar.affix({
                        offset: {
                            top: function () {
                                var offsetTop = $sideBar.offset().top
                                var sideBarMargin = parseInt($sideBar.children(0).css('margin-top'), 10)
                                var navOuterHeight = $('.scrollspy-nav').height()

                                return (this.top = offsetTop - navOuterHeight - sideBarMargin)
                            }
                            , bottom: function () {
                                return (this.bottom = $('.scrollspy-footer').outerHeight(true))
                            }
                        }
                    })
                }, 100)

            })

        }(window.jQuery)

    </script>

</body>

</html>